@model List<PersonelMVCUI.Models.EntityFramework.Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Yeni Personel", "Yeni", null, new { @class="btn btn-success"})
@DateTime.Now
<h2>Personel Listesi</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Departman</th>
            <th>Maaş</th>
            <th>Yaş</th>
            <th>Doğum Tarihi</th>
            <th>Cinsiyet</th>
            <th>Evlilik Durumu</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
        <tr>
            <td>@personel.Ad</td>
            <td>@personel.Soyad</td>
            <td>@personel.Departman.Ad</td>
            <td>@personel.Maas</td>
            <td>@(DateTime.Now.Year - personel.DogumTarihi.Value.Year)</td>
            <td>@personel.DogumTarihi.Value.ToString("dd-MM-yyyy")</td>
            <td>@(personel.Cinsiyet == true ? "Erkek" : "Kadın")</td>
            <td>@(personel.EvliMi == true ? "Evli" : "Bekar")</td>
            <td>@Html.ActionLink("Güncelle", "Guncelle", new { id = personel.Id }, new { @class = "btn btn-success" })</td>
            <td>@Html.ActionLink("Sil", "Sil", new { id = personel.Id }, new { @class = "btn btn-danger" })</td>
        </tr>
        }
    </tbody>
</table>
